/*
.background-image-fade {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
  pointer-events: none;
}
*/

/*
.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* only visible at top 
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  z-index: 0;
  pointer-events: none;

  mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
}
*/



.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* only cover top part */
  background-image: none; /* default, overridden by style prop */
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  z-index: -1;
  pointer-events: none;

  mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
}

