.main-container {
  margin-left: 32px;
  padding: 2rem;
  min-height: 100vh;
  color: #fff;
  background: var(--bg-gradient-dark); 
  font-size: 14px
}

.main-container h1 {
  font-size: 18px;
}

.section-divider {
  height: 1px;
  width: 100%;
  background: linear-gradient(
    to right,
    transparent,
    rgba(156, 163, 175, 0.6),
    transparent
  );
  margin: 8px 0;
}
