:root {
  --bg-gradient-dark: linear-gradient(
    125deg,
    hsl(240deg 47% 7%) 0%,
    hsl(240deg 48% 7%) 5%,
    hsl(239deg 49% 6%) 11%,
    hsl(239deg 50% 6%) 17%,
    hsl(239deg 51% 6%) 24%,
    hsl(238deg 52% 6%) 32%,
    hsl(238deg 53% 6%) 41%,
    hsl(238deg 54% 6%) 50%,
    hsl(238deg 56% 5%) 59%,
    hsl(237deg 57% 5%) 66%,
    hsl(237deg 58% 5%) 73%,
    hsl(237deg 59% 5%) 77%,
    hsl(237deg 61% 5%) 81%,
    hsl(236deg 62% 5%) 84%,
    hsl(236deg 64% 4%) 87%,
    hsl(236deg 65% 4%) 89%,
    hsl(236deg 67% 4%) 91%,
    hsl(236deg 68% 4%) 93%,
    hsl(236deg 70% 4%) 94%,
    hsl(235deg 72% 4%) 95%,
    hsl(235deg 74% 3%) 96%,
    hsl(235deg 76% 3%) 97%,
    hsl(235deg 79% 3%) 98%,
    hsl(235deg 82% 3%) 99%,
    hsl(235deg 85% 3%) 100%
  );

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 00;

  color: rgba(255, 255, 255, 0.87);
  /*background: var(--bg-gradient-dark);*/

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  background: var(--bg-gradient-dark); /* Always use dark */
  color: rgba(255, 255, 255, 0.87);
  margin: 0;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  body {
    background: linear-gradient(135deg, #ffffff, #e3ecf3);
    color: #213547;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

